#centralwidget, QDialog
{
    background-image: url(:/images/Background1.png);
}

QPushButton
{
    color:rgb(200,200,200,200);
    background-color:rgb(180,180,180,100);
    border-radius:3;
}

QPushButton:checked
{
    /*color:rgb(20,20,20,200);
    background-color:rgb(235,235,235,100);
    border-radius:3;*/

    border-width:3px;
    border-color:rgb(30,30,30,200);
    border-style:solid;

    color:rgb(200,200,200,200);
    background-color:rgb(200,200,200,100);
    border-radius:3;
}

QLabel
{
    color:rgb(200,200,200,200);
    background-color:rgb(150,150,150, 100);
    border-radius:3;
}

#scrollPane, #paymentsScrollPane
{
    color:rgb(100,100,100,200);
    background-color:rgb(150,150,150,100);
    border-radius:3;
}

QScrollBar:horizontal, QScrollBar:vertical
{
    height:50px;
    width:50px;
    background-color:rgb(120, 120, 120, 140);
}

QScrollBar::add-page:horizontal, QScrollBar::add-page:vertical, QScrollBar::sub-page:horizontal, QScrollBar::sub-page:vertical
{
    background:none;
}


QComboBox QAbstractItemView
{
    background-color: rgb(110, 110, 110);
    selection-background-color: rgb(80, 80, 80);
}

QComboBox
{
    min-height:30px;
    color: rgb(200, 200, 200, 200);
    background-color: rgb(110, 110, 110, 150);
    selection-background-color: rgb(80, 80, 80, 150);
}

QMessageBox
{
    background-color: rgb(180, 180, 180);
    background-image: url();
}
QMessageBox QLabel
{
    color:rgb(0,0,0);
    background-color:rgb(0,0,0,0);
}
QMessageBox QPushButton
{
    color:rgb(0,0,0);
    background-color:rgb(140,140,140);
    padding: 20px;
}
